@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jasmine + Chutzpah + VSTS</h1>
    <p class="lead">WIP.</p>
</div>

<div class="row" style="font-size: large">
    <div class="col-sm-3">
        <p>Addition of 5 and 7</p>
        <div id="sumOf2Numbers"></div>
    </div>
    <div class="col-sm-3">
        <p>Subtract 5 of 20</p>
        <div id="subOf2Numbers"></div>
    </div>
    <div class="col-sm-3">
        <p>Multiply 13 by 8</p>
        <div id="mulOf2Numbers"></div>
    </div>
    <div class="col-sm-3">
        <p>Divide 16 by 4</p>
        <div id="divOf2Numbers"></div>
    </div>
</div>